<!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


  <!-- ****************************************CSS ******************************************** -->
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      overflow-x: hidden;
    }

    .navbar {
      background-color: black;
    }


    .intro-image {
      height: 580px;
      display: grid;
      place-items: center;
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/templateDependencies/background_images/resume_undefine.jpg");
      background-size: cover;
      background-position: center center;
      border-bottom-left-radius: 50% 45%;
      border-bottom-right-radius: 50% 45%;
      background-attachment: fixed;

    }

    .intro-content {

      margin-bottom: 140px !important;
    }

    .intro-content h1 {
      color: white;
      font-weight: bolder !important;
      font-size: 50px;
    }

    .intro-content p {
      color: white;
      font-size: 25px;
    }

    .intro-content .typed-text {
      color: red;
    }

    .nav-links a {
      padding-left: 25px !important;
    }


    .about-us {
      margin-bottom: 80px !important;
    }

    .card {
      border: none;
    }

    .project {
      margin-bottom: 120px !important;
    }

    .container .card-body {
      transform: skewX(10deg);
      border-radius: 8px;
      transition: 0.3s;

    }

    .mb-4 {
      position: relative;
      display: inline-block;
      padding: 8px 20px !important;
      margin-top: 10px !important;
      background: black !important;
      color: white !important;
      border-radius: 20px !important;
      text-decoration: none !important;
      font-weight: 500 !important;

    }

    .container .card-body:hover {
      transform: skewX(0deg);

    }

    .color-container {
      margin-top: 50px !important;
    }

    .about-us {
      margin-right: 20px;
      margin-left: 20px;
      background: linear-gradient(to right, #4dff03, #00d0ff);
      border: none;
      border-radius: 50px 20px;
    }

    .about-header h1 {
      padding-top: 25px;

    }

    .about-content p {
      margin-top: 30px;
      padding-bottom: 50px;
    }

    .skill {
      margin-bottom: 120px !important;
    }

    .response:hover {
      background: transparent !important;
      color: black !important;
      transition: 0.5s !important;
      border: 1px solid black;

    }

    .contact {
      margin-bottom: 120px !important;
    }

    .fab {
      position: relative;
      display: inline-block;
      font-size: 26px;
      background: black !important;
      color: white !important;
      border-radius: 10px !important;
      padding: 10px 12px;

    }

    .social-links {
      margin-bottom: 40px !important;
    }
  </style>

  {{#each usertemplate }}
  <!-- ***************************NAVBAR-STARTED *****************************************8-->

  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand" href="#">Resume Undefine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto nav-links">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#project">Project</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#skill">Skills</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>

    </div>
  </nav>

  <!--*************************************** INTRO-SECTION **************************************-->

  <section class="intro">
    <div class="intro-image">
      <div class="intro-content col-sm-8 my-2">
        <h1 style="color: white;">
          Hello, I am {{name}}.
        </h1><br>
        <h2 style="color: blueviolet;">
          <script>
              let obj = [];
              `{{#each key_points}}
              ${obj.push(`{{this}}`)}
              {{/each}}`;

              document.write(`
                  <span class="typewrite typed-text" style="color: aqua; font-size: 3.5rem;" data-period="2000"
                    data-type='${JSON.stringify(obj)}'>
                    <span class="wrap"></span>
                  </span>
              `);
          </script>
          
        </h2> <br>
        <p style="color:white;" class="mt-2 desc ">{{Introtagline}}</p>
      </div>
    </div>
  </section>

  <!--******************************************** PROJECT--SECTION *********************************-->

  <section class="project mt-5" id="project">
    <div class="project-heading">
      <h1 class="text-center"> Projects</h1>
      <div class="container">
        <div class="row">
          {{#each projects}}
            <div class="col-sm-4">
            <div class="card mt-3">
              <div class="card-body response">
                <h5 class="card-title">{{projectName}}</h5>
                <p class="card-text">{{{projectDescription}}}</p>
                <a href="{{projectLink}}" class="mb-4">View Project</a>
              </div>
            </div>
          </div>
          {{/each}}

        </div>

      </div>
    </div>
  </section>



  <!--************************************ ABOUT-SECTION ***************************************-->
  <section class="about-us" id="about">
    <div class="container">
      <div class="about-header">
        <h1 class="text-center mt-5">About </h1>
      </div>
      <div class="about-content">
        <p>{{{about}}}</p>
      </div>
    </div>
  </section>


  <!--******************************************* SKILLS-SECTION *******************************-->

  <section class="skill" id="skill">
    <div class="container">
      <div class="skill-header mt-5">
        <h1 class="text-center">Skills</h1>
      </div>
      <div class="skill-content mt-5">
        <div class="row text-center">
          {{#each skills}}
            <div class="col-sm-6 mt-3 mx-auto">
              <button type="button" class="btn response">{{this}}</button>
            </div>
          {{/each}}
        </div>
      </div>

    </div>
    </div>
  </section>

  <section class="contact" id="contact">
    <div class="container">
      <div class="contact-header mt-5">
        <h1 class="text-center"> Contact : Let,s Have A Chit Chat</h1>
        <div class="contact-content mt-5">

          <form id="userEmailForm">
            <div class="form-group">
              <label for="username">Name</label>
              <input type="text" class="form-control" id="username" placeholder="Your Name" required>
            </div>
            <div class="form-group">
              <label for="useremail">Email address</label>
              <input type="email" class="form-control" id="useremail" placeholder="name@example.com" required>
            </div>

            <input type="hidden" id="hostemail" value="{{email}}" required>
            <input type="hidden" id="hostname" value="{{name}}" required>

            <div class="form-group">
              <label for="subject">Subject</label>
              <input type="text" class="form-control" id="subject" placeholder="Subject" required>
            </div>

            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" rows="3"
                placeholder="Type Your Message Here..." required></textarea>
            </div>
            <div id="nonSpinnerBtn">
                <button type="submit" class="btn btn-outline-info mt-3">Submit</button>
            </div>
            <div id="spinnerBtn" style="display: none;">
              <button class="btn btn-primary mb-4" id="" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Sending...
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>


  <!--*************************** SOCIAL-LINKS SECTION ***********************************8-->
  <footer class="social-links mt-4">
    <p class="text-center links">
      {{#each links as |link|}}
        {{#if twitter}}
          <a href="{{twitter}}"><i class="fab fa-twitter"></i></a>
        {{else}}
          {{#if linkedin}}
            <a href="{{linkedin}}"><i class="fab fa-linkedin"></i></a>
          {{else}}
            {{#if facebook}}
              <a href="{{facebook}}"><i class="fab fa-facebook-f"></i></a>
            {{else}}
              {{#if instagram}}
                <a href="{{instagram}}"><i
                    class="fab fa-instagram"
                  ></i></a>
              {{else}}
                <a href="{{github}}"><i class="fab fa-github"></i></a>
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/each}}
    </p>
  </footer>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>

  <script>
      document.title = 'Portfolio-{{name}}';
  </script>
  {{/each}}

  <!--**************************************8 TYPE-WRITER JS *********************************88-->
  <script src="/templateDependencies/typewritterEffect.js"></script>
  <script src="/templateDependencies/sendingmail.js"></script>

  <script>
    function get_random_color() {
      var letters = '0123456789ABCDEF'.split('');
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.round(Math.random() * 15)];
      }
      return color;
    }
    $(function () {
      $(".response").each(function () {
        $(this).css("background-color", get_random_color());
      });
    });

  </script>
